<div class="footer">
  <div class="container footer-heading">
    <h3 class = "app-name">ecomApp</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  <div class="container footer-links">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-unstyled m-auto">
          <li><p class="link-heading">link set 1</p></li>
          <li><a href="">link 1</a></li>
          <li><a href="">link 2</a></li>
          <li><a href="">link 3</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><p class="link-heading">link set 1</p></li>
          <li><a href="">link 1</a></li>
          <li><a href="">link 2</a></li>
          <li><a href="">link 3</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled">
          <li><p class="link-heading">link set 1</p></li>
          <li><a href="">link 1</a></li>
          <li><a href="">link 2</a></li>
          <li><a href="">link 3</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
