.mat-toolbar-row, .mat-toolbar-single-row {
  background-color: #0984E3;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  padding: 0;
  border-bottom: 1px solid white;
}

.navbar-items {
  margin-right: 2%;
}

.using {
  font-size: 110%;
}

.logo {
  width: 70px;
  margin-right: 20px;
}
