<mat-toolbar>
  <img src = "assets/image-assets/ecom-app.png" alt = "ecom-app-log" class = "logo">
  <a>ecomApp</a>
  <span class="example-spacer"></span>
  <mat-icon class = "navbar-items" [matBadge]="amount" matBadgeColor="#02DF3C">shopping_cart</mat-icon>
  <!-- Include text description of the icon's meaning for screen-readers -->
  <span class="cdk-visually-hidden">
      Example with a home icon with overlaid badge showing the number 15
    </span>
  <a class = "navbar-items" [routerLinkActiveOptions]="{exact: true}" routerLink="/" routerLinkActive="using">Home</a>
  <button mat-button [matMenuTriggerFor]="menu">Your Account</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>All Products</button>
    <button mat-menu-item routerLink="/dashboard">Add Product</button>
  </mat-menu>
<!--  <a class = "navbar-items" routerLink="/dashboard" routerLinkActive="using">Dashboard</a>-->
</mat-toolbar>
