.form-wrapper {
  border: 1px solid #95a5a6;
  border-radius: 5px;
  padding: 5%;
  top: 100px;
}

h2 {
  color: #3785DC;
}

.full-width { width: 100% }

.sign-up-link {
  color: #3785DC;
}

.login {
  background-color: #3785DC;
  color: white;
}

.check-box {
  display: block;
  margin-top: 5%;
}

.login:hover {
  background-color: #4093f6;
}

button {
  margin: 5% 4% 0 0;
}
