<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto form-wrapper">
      <form>
        <h2>Sign in</h2>
        <mat-form-field class="full-width">
          <input type="email" matInput placeholder="Email">
          <!--            <mat-error *ngIf="form.get('name').invalid">Please insert a valid name</mat-error>-->
        </mat-form-field>
        <mat-form-field class="full-width">
          <input type="password" matInput placeholder="password">
          <!--            <mat-error *ngIf="form.get('name').invalid">Please insert a valid name</mat-error>-->
        </mat-form-field>
        <mat-checkbox class = "check-box" (change)="onChange($event)" color="primary">Remember Me!</mat-checkbox>
        <button mat-flat-button class = "login">Login</button>
        <a class = "sign-up-link" routerLink="/sign-up">Need an account?</a>
      </form>
    </div>
  </div>
</div>
