<div class="container">
  <div class="row">
    <div class="col-md-6 m-auto form-wrapper">
      <form (submit)="onSubmit(signInForm)" #signInForm="ngForm">
        <h2>Sign in</h2>
        <mat-form-field class="full-width">
          <input name="email" ngModel #email="ngModel" type="email" matInput placeholder="Email" required email>
          <mat-error *ngIf="email.hasError('email')">Please insert a valid email</mat-error>
          <mat-error *ngIf="email.hasError('required')">Please enter the email</mat-error>
        </mat-form-field>
        <mat-form-field class=" full-width">
          <input ngModel name = "password" #password = "ngModel" type="password" matInput placeholder="password" required minlength="8">
          <mat-error *ngIf="password.hasError('required')">Please enter the password</mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Password must be at least 8 characters</mat-error>
        </mat-form-field>
        <mat-checkbox name = "checkBox" ngModel #checkbox = "ngModel" class="check-box" color="primary">Remember Me!</mat-checkbox>
        <button type = "submit" mat-flat-button class="login">Login</button>
        <a class="sign-up-link" routerLink="/sign-up">Need an account?</a>
      </form>
    </div>
  </div>
</div>
