.dashboard-content {
  height: 100vh;
}

.navigation-links {
  background-color: aliceblue;
}

.product-form {
  border: 1px solid #95a5a6;
  border-radius: 5px;
  margin-top: 6% !important;
  padding: 4%
}
